<div class="product__info">
  <img class="product__image" src="images/{{picture}}" alt="Product {{id}}" />
  <h3 class="product__title">{{title}}</h3>
  <span class="product__year extra highlight">{{year}}</span>
  <span class="product__region extra highlight">{{region}}</span>
  <span class="product__varietal extra highlight">{{variety}}</span>
  <span class="product__alcohol extra highlight">{{alcohol}}</span>
  <span class="product__price highlight">{{price}}</span>
  <button class="action action--button action--buy">
    <i class="fa fa-shopping-cart"></i>
    <span class="action__text">Add to cart</span>
  </button>
</div>

<label class="action action--compare-add">
  <input class="check-hidden js-is-compared" type="checkbox">
  <i class="fa fa-plus"></i>
  <i class="fa fa-check"></i>
  <span class="action__text action__text--invisible">Add to compare</span>
</label>
